<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>NutriTrack lit vos données de santé pour enrichir votre suivi nutritionnel et corporel.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>NutriTrack enregistre votre poids et vos calories brûlées dans l'app Santé.</string>
	<key>NSCameraUsageDescription</key>
	<string>NutriTrack utilise la caméra pour scanner les codes-barres des aliments et prendre vos photos de progression.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>NutriTrack accède à votre photothèque pour importer vos photos de progression.</string>
</dict>
</plist>
